header{
        
    width:100%;
    border-bottom: 2px solid black;
}

welcome{
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-family: monospace;
    font-size: xx-large;
    padding-top:1%;

}
socialIcon {
    display:flex;
    gap: 10%;
}

icons{
    display:flex;
    
    align-items: center;
    justify-content: right;
    margin: 1%;
    gap: 2%;
}

a1{
    color:black;
    cursor: pointer;
}