
    
    navbar { display:flex;
        margin: 10%;
        gap: 7%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: monospace;
    }
    socialIcon {
        display:flex;
        gap: 10%;
    }

    icons{
        display:flex;
        align-items: center;
        justify-content: right;
        padding: 1%;
        gap: 2%;
    }





    div{display:flex; 
        background-color: black;
        border-radius: 15px;
        font-size: xx-large;
        color: white;
        padding:10px;
        align-items: center;
        text-align:center;
        justify-content: center;
        cursor: pointer;
        
    }

    div:hover{
        opacity: 0.7;
    }

    h1{
        color:red;
    }
    
    about{
        
        margin-top: 20%;
    }

    AboutTitle{
        display: flex;
        align-items: left;
        margin-left:10%;
        font-size: xxx-large;
        font-family: monospace;
    }

    AboutSection{
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 35%;
        padding-top: 5%;
        text-align: justify;
        width:50%;
        font-family: monospace;
        font-size:large;

    }

    contact{
        display:flex;
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin-top: 80%;
        margin-bottom: 20%;
        align-items: center;
        justify-content: center;
        font-family: monospace;
    }

    email {
        font-size: xx-large;
        text-align: center;
        padding-top: 20;
        padding-bottom:20;
    }

    footer{
        width:100%;
        border-top: 5px solid black;
    }