
    header{
        left:0;
        right:0;
        background-color: white;
        position:fixed;
        top:0;

        /* box-shadow: 0px 3px 3px -1px
                    rgba(207, 194, 194, 0.75);
        border-bottom: 2px solid black; */
    }
    links{
        margin-inline: auto;
        max-width: 100%;
        display:flex;
        justify-content:flex-end;
        border-bottom: 2px solid black;
    }
    
    welcome{
        display: flex;
        align-items:center;
        justify-content: flex-start;
        font-family: monospace;
        font-size: xx-large;
        padding: 2%;
        margin-right:auto;
    
    }
    socialIcon {
        display:flex;
        justify-content: flex-end;
        align-content: center;
        align-items: right;
        display:flex;
        gap: 10%;
        align-items: right;
    }
    icons{
        display:flex;
        align-items: center;
        margin: 1%;
        gap: 2%;
    }
/* this is the styles for the social media icons */
.fa {
    cursor:pointer;
    text-decoration: none;
    margin: 5px;
}
.fa:hover{
    opacity: 0.8;
}

.fa-github {
    background: black;
    color: white;
    border-radius:50%;
    padding: 10px;
}
.fa-linkedin {
    background: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.fa-soundcloud {
    background: black;
    color: white;
    border-radius: 50%; 
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 7px;
    padding-right: 7px;
}


    navbar{
        display:flex;

        background-color:white;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    navContent { display:flex;
            margin: 5%;
            gap: 7%;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-family: monospace;
        
        }

    .navItems{display:flex; 
        background-color: black;
        border-radius: 15px;
        font-size: xx-large;
        color: white;
        padding:10px;
        align-items: center;
        text-align:center;
        justify-content: center;
        cursor: pointer;
    }

    .navItems:hover{
        opacity: 0.7;
    }
    
    a1{
        color:black;
        cursor: pointer;
    }
    a{
        color: white;
        text-decoration: none;
    }
    


    .centerPiece{
        display:flex;
        margin-top:30%;
        margin-bottom:13%;
        align-items:center;
        justify-content: center;

    }
    
    tagline{
        position:flex;
        align-items:center;
        font-family:monospace;
        margin-left: 15%;
        font-size: xxx-large;
        text-align:justify;
        justify-content:center;
        margin-inline: auto;
        width: min(95%, 70.5rem);
        max-width: fit-content;

    }
    /* this is the animation css for the text reel */
    #cycle:after {
        animation-name: cycle; 
        animation-duration: 7s;
        animation-iteration-count: infinite;
        content: ""; 
      }
    
    @keyframes cycle {
      0% {
        content: "things.";
      }
      20% {
        content: "a website";
      }
      40% {
        content: "a web app";
      }
      60% {
          content: "a mobile app"
      }
      80% {
        content: "a PWA";
      }
      100%{
          content: "things."
      }
    }
        
    
    

    
    .aboutContainer{
        box-shadow: inset 0px 3px 3px -1px
                    rgba(207, 194, 194, 0.75);
        background-color: #e1e1e6;
        padding-top:5%;
        padding-bottom:10%;
        padding-right:6%;
        width: auto;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        margin-inline: auto;
    }

    AboutTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        font-size: xxx-large;
        font-family: monospace;
        background-color: #e1e1e6;

        max-width: 100%;
    }

    AboutSection{
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 35%;
        margin-top: 2%;
        text-align: justify;
        font-family: monospace;
        font-size:large;
        background-color: #e1e1e6;
        margin-inline: auto;
        max-width: 100%;

    }

    .portfolioContainer{
        margin-top:5%;
        
        
    }
    WorkTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        font-size: xxx-large;
        font-family: monospace;
    }
    
    grid{
        
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: 50px 50px;
        background-color: #2196F3;
        gap:10%;
        padding: 10%;
        margin-inline: auto;
        max-width: 100%;
    }

    gridItem{


        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

    .contact{
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin-top: 30%;
        margin-bottom: 10%;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        margin-inline: auto;
        max-width: 100%;
    }
    contactTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        margin-bottom:5%;
        font-size: xxx-large;
        font-family: monospace;


                
    }
    .email{
        font-size: x-large;
        text-align: center;
        margin-top: 20%;
        padding-bottom:20;
        cursor:pointer;
        color: black;
        text-decoration: underline;
        text-decoration-thickness: 3px;

        max-width: 100%;
    }

    footer{
        left:0;
        right:0;
        display: flex;
        width:100%;
        border-top: 2px solid black;
    }

    /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}