    html{
        margin:0;
    }
    .pageContainer{
        display:flex;
        flex-direction:column;
        margin:0;

    }
    
    *{
        margin:0;
        box-sizing:border-box;
    }

    header{
        z-index:2;
        left:0;
        right:0;
        background-color: white;
        position:fixed;
        top:0;
        margin:0;
    }
    .headerContainer{
        
        display:flex;
        justify-content:flex-end;
        align-items:center;
        border-bottom: 2px solid black;
        max-height:65px;
    }
    
    welcome{
        display: flex;
        align-items:center;
        justify-content: flex-start;
        font-family: monospace;
        font-size: clamp(12px, 3vmax, 25px);
        padding: 2%;
        margin-right:auto;
    
    }
    socialIcon {
        display:flex;
        justify-content: flex-end;
        align-content: center;
        align-items: right;
        display:flex;
        gap: 10%;
        align-items: right;
    }
    @media screen and (max-width:400px) {
        socialIcon{
            display:none;
        }
    }
    icons{
        display:flex;
        align-items: center;
        margin: 1%;
        gap: 2%;
        margin-right:5%;
        margin-left:1%;
    }
    .hamburger-nav{
        display:none;
    }
    .hamburger-nav:checked ~ mobileNav {
        display:block;
        margin-left: 4%;
        margin-right: 5%; 
    }
    @media screen and (min-width: 600px){
        .hamburger-nav, .hamburgerIcon {
            display: none;
        }
    }
    .Navlist{
        list-style:none;
        font-size: 6vmin;
        font-family:monospace;
    }
    li{margin:20px;}
    mobileNav{
        position: absolute;
        text-align: left;
        align-content:center;
        align-items: center;
        top:100%;
        right:0;
        width:50%;
        display: none;
        background-color: black;
        color: white;
        border: solid black;

    }
    @media screen and (max-width: 600px){
        mobileNav {
            display: none;
        }
    }

/* this is the css for the social media icons */
.fa {
    cursor:pointer;
    text-decoration: none;
    margin: 5px;
}
.fa:hover{
    opacity: 0.8;
}

.fa-github {
    background: black;
    color: white;
    border-radius:50%;
    padding: 10px;
}
.fa-linkedin {
    background: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.fa-soundcloud {
    background: black;
    color: white;
    border-radius: 50%; 
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 7px;
    padding-right: 7px;
}


/* this is for the primary navbar */
    navbar{
        display:flex;

        background-color:white;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid black;

    }
/* this hides the primary navbar at small screens and makes way for hamburger menu */
    @media screen and (max-width: 600px){
        navbar {
            display: none;
        }
    }

.navcontent { display:flex;
            margin: 4%;
            gap: 7%;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-family: monospace;
            
        }

    .navItems{display:flex; 
        background-color: black;
        border-radius: 15px;
        font-size: xx-large;
        color: white;
        padding:10px;
        align-items: center;
        text-align:center;
        justify-content: center;
        cursor: pointer;
    }

    .navItems:hover{
        opacity: 0.7;
    }

    /* this is for all other links/buttons */
    a{
        color: white;
        text-decoration: none;
    }
    
    /* this css is for the 'centerpiece 'let's build' animated tagline */
    .centerPiece{
        display:flex;
        flex:100%;
        margin-top:20vmax;
        margin-bottom:10rem;
        align-items:center;
        justify-content: center;
      
    }


    /* this creates responsive top padding at small screens */
    @media (min-width:30rem){
        .centerPiece{
            padding-top:6rem;
           
        }
    }
    
    tagline{
        color:black;
        
        align-items:center;
        font-family:monospace;
        margin-left: 10%;
        font-size: xxx-large;
        text-align:left;
        justify-content:center;
        width: min(95%, 70.5rem);
        max-width: fit-content;

    }
    /* this centers the centerpiece tagline on small phones */
    @media screen and (min-width: 430px){
        .tagline{
            text-align:center;
            margin:0;
        }
    }
    .cycle{
        display:inline-block;
        line-height:1;
    }

    /* this is the animation css for the text reel */
    #cycle:after {
        animation-name: cycle; 
        animation-duration: 7s;
        animation-iteration-count: infinite;
        content: ""; 
      }
    
    @keyframes cycle {
      0% {
        content: "things.";
      }
      20% {
        content: "a website";
      }
      40% {
        content: "a web app";
      }
      60% {
          content: "a mobile app"
      }
      80% {
        content: "a PWA";
      }
      100%{
          content: "things."
      }
    }

    .aboutContainer{
        background-color: #e1e1e6;
        padding-top:5%;
        padding-bottom:10%;
        padding-right:6%;
        width: auto;
        border-top: 2px solid black;
        margin-inline: auto;
    }
    /* css for the 'about me' section */
    AboutTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        font-size: clamp(24px,3vmax, 2.5vmax);
        font-family: monospace;
        background-color: #e1e1e6;
        max-width: 100%;
    }

    AboutSection{
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 30%;
        margin-top: 2%;
        text-align: left;
        font-family: monospace;
        font-size:large;
        background-color: #e1e1e6;
        margin-inline: auto;
        max-width: 100%;
    }

        .stackContainer{
            
            background-color: white;
            padding-top:5%;
            padding-bottom:10%;
            padding-right:6%;
            width: auto;

            border-top: 2px solid black;
            margin-inline: auto;
        }

        StackTitle{
            display: flex;
            align-items: left;
            margin-left:12%;
            font-size: clamp(24px,3vmax, 2.5vmax);
            font-family: monospace;
            background-color: white;
            max-width: 100%;
        }

        .stackGrid{

            display:hidden;
            height: 20%;
           margin:5%;
           margin-top:2%;
            flex-grow:1;
            justify-content:center;
        }

        #thumbnail{
            border:solid black;
            border-radius:50%;
        }

        .htmlThumb{
            height:200px;
            width:200px;
        }


    /* css for 'my projects' section */
    .portfolioContainer{
        margin-top:5%;
        background-color:rgb(21, 15, 48);
    }
    WorkTitle{
        background-color:rgb(21, 15, 48);
        display: flex;
        align-items: left;
        margin-left:12%;
        font-size: clamp(24px,3vmax, 2.5vmax);
        font-family: monospace;
        color:white;
    }


    
    .thumbnailGrid{
        background-color:rgb(21, 15, 48);
        display:flex;
        flex-direction:column;
        justify-content:center;
        row-gap:10%;
        /* align-items:center; */
        margin-top:3%;
        /* border:solid black; */
    }

    .project{
        flex:1;
        display:flex;
        flex-direction:column;
        align-self:center;

    }

    .project2{
           
        display:flex;
        flex-direction:column;
        flex:1;
       margin-right:0%;
       
    }

    .description{
     display:flex;
     flex-direction:column;
     text-align: justify;
     font-size: clamp(0.8rem, 0.5vw,1rem);
     margin-left:10%;
     margin-right:10%;
     margin-bottom:10%;
     color:white;
     font-family:monospace
    }

    .descriptionReverse{
        display:flex;
     flex-direction:column;
     text-align: justify;
     font-size: clamp(0.8rem, 0.5vw,1rem);
     margin-left:10%;
     margin-right:10%;
     margin-bottom:10%;
      color:white;
     font-family:monospace;
    }

    .sample{
        
        /* box-shadow: 2px 2px 4px rgb(214, 213, 213); */
        display:flex;
        flex-direction:column;
        justify-self:center;
        align-self:center;
        flex:100%;
        max-height:50vw;
        max-width: 80vw;
        margin:25px;
        /* margin-bottom:7%; */
        text-align: center;
     
    }


    .screenShot{
       
        display:flex;
        min-height:100%;
        /* max-width:100%;
        max-height:100%;
        max-width:100%;
        max-height:100%; */
        object-fit:contain; 
        
    }

    .screenshotButtonOverlay{

        overflow:hidden;
        font-style:white;
        display:flex;
        width:100%;
        margin-right:3%;
        height:auto;
        justify-content:right;
        gap:5%;
        background-color:rgba(230, 174, 174, 0.75);
        opacity:0.9;
    }

    .screenshotButton{

        /* background:black; */
        padding-top:2px;
        padding-bottom:2px;
        border-radius:10%;
        color:black;
        font-family: monospace;
        margin-top:2%;
        margin-bottom:3%;
        cursor:pointer;
        font-size: 1rem;
        padding-left:3px;
        padding-right:2px;
    }

    @media screen and (min-width:600px){
        .thumbnailGrid{
            display:flex;
            flex-direction:column;
            justify-content:center;
        }
        .project{
            display:flex;
            flex-direction:row;
            flex:1;
            visibility:visible;
           margin-bottom:5%;
           margin-top:3%;
            flex:100%;
            gap:0;
        }
        .project2{
           
            display:flex;
            flex-direction:row-reverse;
            flex:100%;
           margin-right:7%;
           gap:0;
           
        }

        .description{
            display:flex;
            flex:1;
            flex-direction:column;
            justify-items:center;
            font-size: clamp(0.8rem,1rem, 1.1rem);
            margin-top:5%;
            margin-left:5%;
            margin-right:5%;
            font-size:1rem;
            flex:stretch;
        }
        .descriptionReverse{
            display:flex;
            flex:1;
            flex-direction:column;
            flex:100%;
            justify-items:center;
            margin-top:5%;
            font-size: clamp(0.8rem,1rem, 1.1rem);
            margin-left:10%;
        }
        .sample{
            max-height:25vw;
            max-width: 40vw;
            align-self: initial;
            /* display:flex;
            flex-direction:column; */
            margin-left:10%;
        }

        .sample:hover  .screenshotButtonOverlay{
            display:flex;
            cursor:pointer;
            justify-content:center;
            align-items:center;
            min-height:100%;
            gap:12%;
            transform:translateY(-100%);
            background-color: rgba(233, 207, 207, 0.75);
         
            opacity:0.95;
        
        }
        .screenshotButton{
            color:black;

        }

        .screenshotButtonOverlay{
            display:none;
        }

    }

    .contact{
        text-align: center;
        border-top:solid black;
        justify-content: center;
        justify-items: center;
        margin-top: 10%;
        padding-top:7%;
        margin-bottom: 10%;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        margin-inline: auto;
        max-width: 100%;
    }
    contactTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        margin-bottom:5%;
        font-size: clamp(24px,3vmax, 2.5vmax);
        font-family: monospace;


                
    }
    .email{
        font-size: clamp(18px, 0.5vw, 30px);
        text-align: center;
        margin-top: 20%;
        padding-bottom:20;
        cursor:pointer;
        color: black;
        text-decoration: underline;
        text-decoration-thickness: 3px;

        max-width: 100%;
    }

    footer{
       
        left:0;
        right:0;
        display: flex;
        align-items: center;
        font-size: clamp(12px, 3vmax, 25px);
        border-top: 2px solid black;
        max-height:65px;
    }

