
    header{
        left:0;
        right:0;
        background-color: white;
        position:fixed;
        top:0;


    }
    .links{
        margin-inline: auto;

        display:flex;
        justify-content:flex-end;
        border-bottom: 2px solid black;
    }
    
    welcome{
        display: flex;
        align-items:center;
        justify-content: flex-start;
        font-family: monospace;
        font-size: 2.5vmax;
        padding: 2%;
        margin-right:auto;
    
    }
    socialIcon {
        display:flex;
        justify-content: flex-end;
        align-content: center;
        align-items: right;
        display:flex;
        gap: 10%;
        align-items: right;
    }
    icons{
        display:flex;
        align-items: center;
        margin: 1%;
        gap: 2%;
        margin-right:5%;
        margin-left:1%;

    }


    .hamburger-nav{
        display:none;
    }

    .hamburger-nav:checked ~ mobileNav {
        display:block;
        margin-left: 4%;
        margin-right: 5%; 
    }
    @media screen and (min-width: 560px){
        .hamburger-nav, .hamburgerIcon {
            display: none;
        }
    }
    .Navlist{
        list-style:none;
        font-size: 6vmin;
        font-family:monospace;
    }
    li{margin:20px;}
    mobileNav{
        position: absolute;
        text-align: left;
        align-content:center;
        align-items: center;
        top:100%;
        right:0;
        width:50%;
        display: none;
        background-color: black;
        color: white;
        border: solid black;

    }
    @media screen and (min-width: 560px){
        mobileNav {
            display: none;
        }
    }

/* this is the css for the social media icons */
.fa {
    cursor:pointer;
    text-decoration: none;
    margin: 5px;
}
.fa:hover{
    opacity: 0.8;
}

.fa-github {
    background: black;
    color: white;
    border-radius:50%;
    padding: 10px;
}
.fa-linkedin {
    background: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.fa-soundcloud {
    background: black;
    color: white;
    border-radius: 50%; 
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 7px;
    padding-right: 7px;
}



    navbar{
        display:flex;

        background-color:white;
        align-items: center;
        justify-content: center;

    }

    @media screen and (max-width: 560px){
        navbar {
            display: none;
        }
    }

.navcontent { display:flex;
            margin: 5%;
            gap: 7%;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-family: monospace;
        
        }

    .navItems{display:flex; 
        background-color: black;
        border-radius: 15px;
        font-size: xx-large;
        color: white;
        padding:10px;
        align-items: center;
        text-align:center;
        justify-content: center;
        cursor: pointer;
    }

    .navItems:hover{
        opacity: 0.7;
    }
    
    a{
        color: white;
        text-decoration: none;
    }
    
    /* this css is for the 'centerpiece 'let's build' animated tagline */
    .centerPiece{
        display:flex;
        margin-top:20vmax;
        margin-bottom:10rem;
        align-items:center;
        justify-content: center;

    }
    @media (min-width:30rem){
        .centerPiece{
            padding-top:6rem;
        }
    }
    
    tagline{
        position:flex;
        align-items:center;
        font-family:monospace;
        margin-left: 10%;
        font-size: xxx-large;
        text-align:left;
        justify-content:center;
        width: min(95%, 70.5rem);
        max-width: fit-content;

    }
    /* this is the animation css for the text reel */
    #cycle:after {
        animation-name: cycle; 
        animation-duration: 7s;
        animation-iteration-count: infinite;
        content: ""; 
      }
    
    @keyframes cycle {
      0% {
        content: "things.";
      }
      20% {
        content: "a website";
      }
      40% {
        content: "a web app";
      }
      60% {
          content: "a mobile app"
      }
      80% {
        content: "a PWA";
      }
      100%{
          content: "things."
      }
    }
        
    
    

    
    .aboutContainer{
        box-shadow: inset 0px 3px 3px -1px
                    rgba(207, 194, 194, 0.75);
        background-color: #e1e1e6;
        padding-top:5%;
        padding-bottom:10%;
        padding-right:6%;
        width: auto;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        margin-inline: auto;
    }

    AboutTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        font-size: 4vmax;
        font-family: monospace;
        background-color: #e1e1e6;
        max-width: 100%;
    }

    AboutSection{
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 30%;
        margin-top: 2%;
        text-align: left;
        font-family: monospace;
        font-size:large;
        background-color: #e1e1e6;
        margin-inline: auto;
        max-width: 100%;

    }

    .portfolioContainer{
        margin-top:5%;
        
        
    }
    WorkTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        font-size: 4vmax;
        font-family: monospace;
    }
    
    grid{
        
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: 50px 50px;
        background-color: #2196F3;
        gap:10%;
        padding: 10%;
        margin-inline: auto;
        max-width: 100%;
    }

    gridItem{


        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

    .contact{
        text-align: center;
        border-top:solid black;
        justify-content: center;
        justify-items: center;
        margin-top: 30%;
        padding-top:7%;
        margin-bottom: 10%;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        margin-inline: auto;
        max-width: 100%;
    }
    contactTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        margin-bottom:5%;
        font-size: 4.2vmax;
        font-family: monospace;


                
    }
    .email{
        font-size: clamp(18px, 0.5vw, 30px);
        text-align: center;
        margin-top: 20%;
        padding-bottom:20;
        cursor:pointer;
        color: black;
        text-decoration: underline;
        text-decoration-thickness: 3px;

        max-width: 100%;
    }

    footer{
        left:0;
        right:0;
        display: flex;

        border-top: 2px solid black;
    }

