
    
    navbar { display:flex;
        margin: 10%;
        gap: 7%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: monospace;
    }
    socicon {
        display:flex;

    }

    icons{
        display:flex;
        align-items: center;
        justify-content: right;
        padding: 1%;


    }
    div{display:flex; 
        background-color: black;
        border-radius: 15px;
        font-size: xx-large;
        color: white;
        padding:10px;
        align-items: center;
        text-align:center;
        justify-content: center;
        
    }

    h1{
        color:red;
    }
    
    contact{
        display:flex;
        text-align: center;
        margin-top: 80;
        padding-top:0vh;
        align-items: center;
        justify-content: center;
        font-family: monospace;
    }

    email {
        font-size: xx-large;
        text-align: center;
        padding-top: 20;
    }