html{
    display:flex;
    flex-direction:column;
}

#imposter {
    color:black;
}

h1 {
    text-align:left;
    font-size:large;
}

@media screen and (max-width:600px){
    .header{
        font-size:clamp(20vw, 1rem, 1rem);
        margin-top:-10%;
    }
}

.Container{
    display:flex;
    flex-direction:row;
}

.bloglistContainer{
    display:flex;
    flex-direction:column;
    height:100%;
    margin-top:20%;
  

}

@media screen and (min-width:1100px){
    .bloglistContainer{
        margin-top:5%;
        margin-bottom:0;
    }

}

.blogs{

    margin-top:5%;
    flex:1;
    font-family:monospace;
    
    text-align:justify;
    margin-left:15%;
    margin-right:10%;
}

.header{
    font-size: clamp(2rem, 3rem, 5vw);
    margin-bottom:10%;
    font-family:monospace;
    text-decoration: none;
}

@keyframes blink {
    0% {visibility:visible}
    25%{visibility:hidden}
    50%{visibility:visible}
    75%{visibility:hidden}
    100% {visibility:hidden}
}

.blinkingCursor{
    visibility:visible;
    animation-name: blink;
    animation-duration:1.5s;
    animation-iteration-count:infinite;

  
}

.preview{
    margin:0%;
    width:100%;
    margin-bottom:8%;

}

#link{
    color:black;
}

.blogThumbnail{
    width:50vw;
    height:30vw;
    margin-bottom:3%;
    margin: left 0%;
}
.text{
    margin-left:5%;
    margin-right:10%;
}

.sidebar{
    display:flex;

    flex:1;
    margin-right:10%;
    height:100%;
}

.back-to-top{
    margin-top:50%;
    margin-left:20%;
    position:fixed;
    /* bottom:20px; */
    background:black;
    border-radius:15px;
    color:white;
    margin:5%;
    padding:1%;
    align-items:center;
    font-family:monospace;
}

.blogTitle{
    margin-bottom:3%;
    font-size: clamp(0.5rem, 1.5rem, 2rem)

}

.blurb{
    margin-bottom:4%;
    margin-top:5%;
    margin-right:10%;
    font-size: clamp(0.8rem, 0.5vw,1rem);

}

@media screen and (max-width: 725px){
    .back-to-top{
        display:none;
    }

    .sidebar{
        display:none;
    }
    .blogs{
        display:flex;
        flex-direction:column;
        float:right;

    }
    .blogThumbnail{
        margin-left:15%;
        justify-content: center;
    }
}

.footer{
    display:block;
    background-color: white;
    margin:0;
    font-size: clamp(12px, 3vmax, 25px);
    overflow:hidden;
    max-height:100px;
}

@media screen and (max-width:345px){
    copyright{
        display:none;
    }
}