    html{
        margin:0;
    }
    body{
        overflow-x:hidden;
    }
    .pageContainer{
        display:flex;
        flex-direction:column;
        margin:0;
    }
    
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

    header{
        z-index:5;
        left:0;
        right:0;
        background-color: white;
        position:fixed;
        top:0;
        margin:0;
  
    }
    .headerContainer{
        
        display:flex;
        justify-content:flex-end;
        align-items:center;
        border-bottom: 2px solid black;
        max-height:65px;
    }
    
    .welcome{
        display: flex;
        align-items:center;
        justify-content: flex-start;
        font-family: monospace;
        font-size: clamp(12px, 3vmax, 25px);
        padding: 2%;
        margin-right:auto;
    
    }
    socialIcon {
        display:flex;
        justify-content: flex-end;
        align-content: center;
        align-items: right;
        display:flex;
        gap: 10%;
        align-items: right;
    }
    @media screen and (max-width:400px) {
        socialIcon{
            display:none;
        }
        .hamburgerSocials{
            display:flex;
            justify-content:right;
            float:right;
          
        }
    }
    icons{
        display:flex;
        align-items: center;
        margin: 1%;
        gap: 2%;
        margin-right:5%;
        margin-left:1%;
    }
    .hamburger-nav{
        display:none;
    }
    .hamburger-nav:checked ~ mobileNav {
        display:block;
        margin-left: 4%;
        margin-right: 5%; 
    }
    @media screen and (min-width: 600px){
        .hamburger-nav, .hamburgerIcon {
            display: none;
        }
    }
    @media screen and (min-width: 400px){
        .hamburgerSocials{
            display:none;
        }
    }
    .Navlist{
        list-style:none;
        font-size: 6vmin;
        font-family:monospace;
    }
    li{
        margin:20px;
        margin-left:0;}
    mobileNav{
        position: absolute;
        display:flex;
        text-align: left;
        align-content:center;
        align-items: center;
        top:100%;
        right:0;
        width:50%;
        display: none;
        background-color: black;
        color: white;
        border: solid black;

    }
    @media screen and (max-width: 600px){
        mobileNav {
            display: none;
        }
    }

/* this is the css for the social media icons */
.fa {
    cursor:pointer;
    text-decoration: none;
    margin: 5px;
}
.fa:hover{
    opacity: 0.8;
}

.fa-github {
    background: black;
    color: white;
    border-radius:50%;
    padding: 10px;
}
.fa-linkedin {
    background: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.fa-soundcloud {
    background: black;
    color: white;
    border-radius: 50%; 
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 7px;
    padding-right: 7px;
}


/* this is for the primary navbar */
    nav{
        display:flex;

        background-color:white;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid black;

    }

/* this moves the primary navbar up to the header on desktops */

    @media screen and (min-width: 1100px){
        nav{
            display:none;
        }

        .headerContainer{
            min-height:80px;
        }

        .desktopNav{
            border:none;
            display:flex;
            margin: 5%;
            gap: 7%;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-family: monospace;
        }
        .navButtons{
            display:flex; 
        font-size: 1.5rem;
        color:black;
        background-color:white;

        }
        .navLinks{
            color:white;
            
        }
        .navLinks:hover{
            opacity:0.7;
        }
    }



    @media screen and (max-width:1100px){
        .desktopNav{
            display:none;
        }
    }

/* this hides the primary navbar at small screens and makes way for hamburger menu */
    @media screen and (max-width: 600px){
        nav {
            display: none;
        }
    }

.navcontent { display:flex;
            margin: 4%;
            gap: 7%;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-family: monospace;
            
        }

    .navItems{display:flex; 
        background-color: black;
        border-radius: 15px;
        font-size: xx-large;
        color: white;
        padding:10px;
        align-items: center;
        text-align:center;
        justify-content: center;
        cursor: pointer;
    }

    .navItems:hover{
        opacity: 0.7;
    }

    /* this is for all other links/buttons */
    a{
        color: white;
        text-decoration: none;
    }
    
    /* this css is for the 'centerpiece 'let's build' animated tagline */
    .centerPiece{
        position:relative;
        display:flex;
        flex:100%;
        margin-bottom:0%;
        align-items:center;
        justify-content: center;

    }


    /* this creates responsive top padding at small screens */
    @media (min-width:500px){
        .centerPiece{
            padding-top:10rem;

        }
    }




    @media screen and (min-width:1000px){
        .imageCircles{
            max-height:50vw;
        }
    }

    @media screen and (max-width:600px){
       .centerPiece{ 
           padding-top:10rem;
           padding-bottom:10rem;
       }
    }

        /* this creates responsive top spacing at large screens */
        @media screen and (min-width:1100px){
            .centerPiece{
                margin-top:0%;
                padding-top:0%;
            }
        }

    tagline{
        color:black;
        z-index:3;
        flex:1;
        align-items:center;
        font-family:monospace;
        margin-left: 10%;
        font-size: xxx-large;
        text-align:left;
        justify-content:center;
        width: min(95%, 70.5rem);

    }

    .imageCircles {
       position:relative;
       padding-left:7%;
        display:flex;
        flex:1;
        /* border:solid yellow; */
        height:50vw;
        width:50vw;
        overflow-y:hidden;
        overflow-x:hidden;
 
    }

   

    .image1{
        border-radius:50%;
        position:absolute;
        height:30%;
        width:30%;
        background-repeat: no-repeat;
        transform:translate(0%, 50%);
        overflow-y:hidden;
        overflow-x:visible;
        background-image:url("/src/Assets/light.jpg");
        background-size: cover;
    }

    .image2{
      
        border-radius:50%;
        display:flex;
        position:absolute;
        height: 35%;
        width: 35%;
        background-repeat: no-repeat;
        transform:translate(110%,80%);
        background-image:url("/src/Assets/curvey.jpg");
        background-size: cover;
        overflow-y:hidden;
        overflow-x:visible;
    }

    .image3{
       
        border-radius:50%;
        display:flex;
        position:absolute;
        height:50%;
        width: 50%;
        background-repeat: no-repeat;
        transform: translate(-10%,100%);
        background-image:url("/src/Assets/technicolorsmall.jpg");
        background-size: cover;
        overflow-y:hidden;
        overflow-x:visible;
    }

    .image4{
        display:flex;
        position:absolute;
        border-radius:50%;
        height:60%;
        width:60%;
        background-repeat: no-repeat;
        transform:translate(90%,110%);
        background-image:url("/src/Assets/texture4.jpg");
        background-size: cover;
        overflow-y:hidden;
        overflow-x:visible;
  
    }


    @media screen and (max-width:600px){
        .imageCircles{
            display:none;
        }
    }

    /* this centers the centerpiece tagline on small phones */
    @media screen and (min-width: 430px){
        .tagline{
            text-align:center;
            margin:0;
        }
    }
    .cycle{
        display:inline-block;
        line-height:1;
    }

    /* this is the animation css for the text reel */
    #cycle:after {
        animation-name: cycle; 
        animation-duration: 7s;
        animation-iteration-count: infinite;
        content: ""; 
      }
    
    @keyframes cycle {
      0% {
        content: "things.";
      }
      20% {
        content: "a website";
      }
      40% {
        content: "a web app";
      }
      60% {
          content: "a mobile app"
      }
      80% {
        content: "a PWA";
      }
      100%{
          content: "things."
      }
    }

    .aboutContainer{
        z-index:2;
        background-color: #e1e1e6;
        padding-top:5%;
        padding-bottom:6%;
        padding-right:6%;
        width: auto;
        border-top: 2px solid black;
        margin-inline: auto;
    }
    /* css for the 'about me' section */
    AboutTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        font-size: clamp(24px,3vmax, 2.5vmax);
        font-family: monospace;
        background-color: #e1e1e6;
        max-width: 100%;
    }

    AboutSection{
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 30%;
        margin-top: 2%;
        text-align: left;
        font-family: monospace;
        font-size:large;
        background-color: #e1e1e6;
        margin-inline: auto;
        max-width: 100%;
    }

    /* this centers the 'about me' text on mobiles */
    @media screen and (max-width:450px){
        AboutSection{
            padding:10%;
            justify-content:center;
        }

    }

        .stackContainer{
            
            background-color: white;
            padding-top:5%;
            /* padding-bottom:10%; */
            border-top: 2px solid black;
           
        }

        StackTitle{
            display: flex;
            margin-left:12%;
            font-size: clamp(24px,3vmax, 2.5vmax);
            font-family: monospace;
            background-color: white;
            max-width: 100%;
        }

        .stackColumn{

            display:flex;
            flex-flow:row wrap;
            flex:1;
            row-gap: 15px;
            column-gap: 20px;
            justify-content: center;
            justify-items:center;
            /* max-height:20%; */
            margin:10%;
            margin-top:7%;
        }

        .thumbnail{
            display:flex;
            flex:auto;
            height:clamp(10vw,13vw,12vw);
            width:clamp(10vw,13vw,12vw);
            background-size:35vw contain;
            background-repeat: no-repeat;
           
        }

        #htmlThumb{
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg");
        }
        #cssThumb{        
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg");
        }
        #tailwindThumb{
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg");
        }
        #reactThumb{
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg");
        }
        #nextThumb{
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original-wordmark.svg");

        }
        #nodeThumb{
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg");
 
        }
        #pythonThumb{
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg");
        }

        #flaskThumb{
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg");

        }
        #linuxThumb{
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg");
        }
        #postThumb{
            background-image:url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg");

        }


    /* css for 'my projects' section */
    .portfolioContainer{
        margin-top:5%;
        background-color:rgb(21, 15, 48);
    }
    WorkTitle{
        background-color:rgb(21, 15, 48);
        display: flex;
        align-items: left;
        margin-left:12%;
        padding-top:5%;
        font-size: clamp(24px,3vmax, 2.5vmax);
        font-family: monospace;
        color:white;
    }


    
    .thumbnailGrid{
        background-color:rgb(21, 15, 48);
        display:flex;
        flex-direction:column;
        justify-content:center;
        row-gap:10%;
        /* align-items:center; */
        margin-top:3%;
        
        /* border:solid black; */
    }

    .project{
        flex:1;
        display:flex;
        flex-direction:column;
        align-self:center;

    }

    .project2{
           
        display:flex;
        flex-direction:column;
        flex:1;
    
       
    }

    .description{
     display:flex;
     flex-direction:column;
     text-align: justify;
     font-size: clamp(0.8rem, 0.5vw,1rem);
     margin-left:10%;
     margin-right:10%;
     margin-bottom:10%;
     color:white;
     font-family:monospace
    }

    .descriptionReverse{
        display:flex;
     flex-direction:column;
     justify-content:center;
     text-align: justify;
     font-size: clamp(0.8rem, 0.5vw,1rem);
     margin-left:10%;
     margin-right:10%;
     margin-bottom:10%;
      color:white;
     font-family:monospace;
    }

    .sample{
        
        display:flex;
        flex-direction:column;
        justify-self:center;
        align-self:center;
        flex:100%;
        max-height:50vw;
        max-width: 80vw;
        margin:25px;
        /* margin-bottom:7%; */
        text-align: center;
     
    }


    .screenShot{
       
        display:flex;
        min-height:100%;
        /* max-width:100%;
        max-height:100%;
        max-width:100%;
        max-height:100%; */
        object-fit:contain; 
        
    }

    .screenshotButtonOverlay{

        overflow:hidden;
        font-style:white;
        display:flex;
        width:100%;
        margin-right:3%;
        height:auto;
        justify-content:right;
        gap:5%;
        background-color:rgba(230, 174, 174, 0.75);
        opacity:0.9;
    }

    .screenshotButton{

        /* background:black; */
        padding-top:2px;
        padding-bottom:2px;
        border-radius:10%;
        color:black;
        font-family: monospace;
        margin-top:2%;
        margin-bottom:3%;
        cursor:pointer;
        font-size: 1rem;
        padding-left:3px;
        padding-right:2px;
    }

    @media screen and (min-width:600px){
        .thumbnailGrid{
            display:flex;
            flex-direction:column;
            justify-content:center;
        }
        .project{
            display:flex;
            flex-direction:row;
            flex:1;
            visibility:visible;
           margin-bottom:5%;
           margin-top:3%;
            flex:100%;
            gap:0;
        }
        .project2{
           
            display:flex;
            flex-direction:row-reverse;
            flex:100%;
           margin-right:7%;
           gap:0;
           
        }
        .screenShot{
            display:flex;
          
            overflow:visible;
            object-fit:fill;
        }
        .description{
            display:flex;
            flex:1;
            flex-direction:column;
            justify-items:center;
            font-size: clamp(0.8rem,1rem, 1.1rem);
            margin-top:5%;
            margin-left:5%;
            margin-right:5%;
            font-size:1rem;
            flex:stretch;
        }
        .descriptionReverse{
            display:flex;
            flex:1;
            flex-direction:column;
            flex:100%;
            justify-content:center;
            margin-top:5%;
            font-size: clamp(0.8rem,1rem, 1.1rem);
            margin-left:10%;
            margin-right:0%;
        }
        .sample{
            position:relative;
            max-height:25vw;
            max-width: 40vw;
            align-self: initial;
            /* display:flex;
            flex-direction:column; */
            margin-left:10%;
            transition: .3s ease;
        

        }
        .screenshotButton{
            color:black;
            transition: .5s ease;

        }

        .screenshotButtonOverlay{
            /* display:none; */
            visibility:hidden;
            position:absolute;
            opacity:0;
           
        }

        .sample:hover .screenshotButtonOverlay{
            /* display:flex; */
            visibility:visible;
            opacity:1;
            cursor:pointer;
            justify-content:center;
            align-items:center;
            /* min-height:max; */
            /* gap:12%; */
            /* transform:translateY(-115%); */
            transform:none;
            background-color: rgba(233, 207, 207, 0.75);
            position:absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;   
            transition: opacity 0.5s linear;  
            opacity:0.95;
        
        }



    }

    .contact{
        text-align: center;
      
        justify-content: center;
        justify-items: center;
        margin-top: 10%;
        
        margin-bottom: 10%;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        margin-inline: auto;
        max-width: 100%;
    }
    contactTitle{
        display: flex;
        align-items: left;
        margin-left:12%;
        margin-bottom:5%;
        font-size: clamp(24px,3vmax, 2.5vmax);
        font-family: monospace;


                
    }
    .email{
        font-size: clamp(18px, 0.5vw, 30px);
        text-align: center;
        margin-top: 20%;
        padding-bottom:20;
        cursor:pointer;
        color: black;
        text-decoration: underline;
        text-decoration-thickness: 3px;

        max-width: 100%;
    }
    copyright{
        display:flex;
        font-family:monospace;
        font-size: clamp(0.5rem,0.8rem,1rem); 
        padding-right:2%;
        align-items:center;
    }
    footer{
       
        bottom:0;
        left:0;
        right:0;
        width:100vw;
        display:flex;
        align-items: center;
        font-size: clamp(12px, 3vmax, 25px);
        border-top: 2px solid black;
        max-height:65px;
    }

    @media screen and (max-width:345px){
        copyright{
            display:none;
        }
    }

